#about {
  background-color: #242424;
  padding: 80px 150px 150px 150px;
}

.section-heading {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 30px;
  margin-top: 0px;
}

.text-muted {
  font-size: 1.2rem;
  color: #ddd;
  line-height: 1.6;
}

/* Additional styles for spacing between paragraphs */
.text-muted + .text-muted {
  margin-top: 20px;
}

.profile-picture-container {
  margin-bottom: 30px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}

@media (max-width: 992px) {
  .text-container {
    padding-top: 15px;
    width: 100%;
  }
  #about {
    max-width: 100%;
    padding: 0px !important;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 992px) and (orientation: landscape) {
  #about {
    padding-left: 10px; /* Add left padding */
    padding-right: 10px; /* Add right padding */
  }
}
