h2 {
  text-align: center;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

textarea {
  height: 200px; /* Adjust the height as needed */
}

input,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  background-color: #800000;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

/* Responsive styles for smaller screens */
@media only screen and (max-width: 767px) {
  form {
    max-width: 100%;
  }
}
