.navbar {
  background-color: #800000 !important;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-items: center;
  flex-wrap: nowrap;
}
/* Center the header text */
.navbar-brand {
  flex: 0 1 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Align navigation links to the right */
.navbar {
  flex: 0 1 auto;
  margin-left: auto;
  margin-right: 50px;
}

.navbar {
  padding: 10px;
}

.navbar-nav {
  margin-right: 30px;
}

.navbar-nav .nav-link {
  color: #fff;
  margin-left: 15px;
}

a {
  text-decoration: none !important;
  font-size: larger;
}

.active {
  color: #333 !important; /* Darker color for the active link */
  font-weight: bold; /* Bold text for the active link, adjust as needed */
}

@media only screen and (max-width: 991px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .navbar-brand {
    position: initial;
    transform: translateX(0);
  }

  .navbar-nav .nav-link {
  }
}
#navbarNav {
  position: relative;
}
