/*reset browser stylings*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
:root {
  background-color: #242424;
  margin: 0;
  padding: 0;
}

#root {
  background-color: #242424;
  color: white;
}
